@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
}

body {
    width: 340px;
    height: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -235px; /** half of height**/
    margin-left: -170px; /** half of width **/
    background-color: hsl(0, 0%, 100%);
    border: solid 1px hsl(0, 0%, 7%);
    border-radius: 15px;
    box-shadow: 6px 6px hsl(0, 0%, 7%);
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

body:hover {
    box-shadow: 13px 13px hsl(0, 0%, 7%);
}


/** blog-info **/

.blog-info {
    padding-top: 20px;
}

.blog-info img {
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 300px;
}

#learning {
    background-color: hsl(47, 88%, 63%);
    border-radius: 3px;
    padding: 5px;
    width: 70px;
    text-align: center;
    font-size: 14px;
}

.blog-info h4 {
    font-size: 14px;
}

/** blog-text **/

.blog-text h1 {
    font-size: 22px;
}

.blog-text h1:hover {
    color: hsl(47, 88%, 63%);
}

.blog-text p {
    font-size: 16px;
    color: hsl(0, 0%, 50%)
}


/** user **/

.user img {
    width: 30px;
    float: left;
    vertical-align: middle;
    
}

.user p {
    font-size: 14px;
}


/** combined **/

#learning, .blog-text h1, .user {
    font-weight: 800;
}

.blog-info h4, .blog-text p {
    font-weight: 600;
}