@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


html {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
}

body {
    height: 466px;
    width: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -233px; /** half of height**/
    margin-left: -170px; /** half of width **/
    background-color: hsl(0, 0%, 100%);
    border: solid 1px hsl(0, 0%, 7%);
    border-radius: 15px;
    box-shadow: 7px 7px hsl(0, 0%, 7%);
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

body:hover {
    box-shadow: 13px 13px hsl(0, 0%, 7%);
}


/** blog-info **/

#blog-info {
    padding-top: 20px;
}

#blog-info img {
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 300px;
}

#learning {
    background-color: hsl(47, 88%, 63%);
    border-radius: 3px;
    padding: 5px;
    width: 65px;
    text-align: center;
    font-size: 13px;
}

#date {
    font-size: 13px;
    margin-top: -5px;
}


/** blog-text **/

#blog-text h1 {
    font-size: 22px;
}

#blog-text h1:hover {
    color: hsl(47, 88%, 63%);
}

#blog-text p {
    font-size: 15px;
    color: hsl(0, 0%, 50%);
    line-height: 21px;
    width: 300px;
}


/** user **/

#user img {
    width: 30px;
}

#user p {
    font-size: 13px;
    margin-left: 8px;
}

#user p, #user img {
    display: inline-block;
    vertical-align: middle;
}


/** combined **/

#learning, #blog-text h1, #user {
    font-weight: 700;
}

#date, #blog-text p {
    font-weight: 400;
}


/** mobile **/

@media screen and (max-width: 375px) {

    body {
        height: 446px;
        width: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -223px; /** half of height**/
        margin-left: -160px; /** half of width **/
    }    

    #blog-info img {
        width: 280px;
    }

    #blog-text p {
        width: 280px;
    }

}