html {
    background-color: hsl(47, 88%, 63%);
}

body {
    width: 340px;
    height: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px; /** half of height**/
    margin-left: -170px; /** half of width **/
    background-color: hsl(0, 0%, 100%);
    border: solid 2px hsl(0, 0%, 7%);
    border-radius: 15px;
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

.blog-info {
    padding-top: 20px;
}

.blog-info img {
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 300px;
}

#learning {
    background-color: hsl(47, 88%, 63%);
    border-radius: 3px;
    padding: 5px;
}